* {
    margin: 0%;
    padding: 0%;
    position: relative;
    background: #FF5959;
}

.banner {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: 100px;
    cursor: pointer;
    bottom: 25px;
    left: -50px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 0px;
    width: 0;
    background: #fff;
    position: absolute;
    border-radius: 20px;
    bottom: -5px;
    border-bottom: #fff solid 5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.Content{
    margin: auto;
    width: 1500px;
    height: 700px;
    bottom: 50px;
    background: #fff;
    box-shadow: 4px 4px 100px rgba(0, 0, 0, 0.05);
    border-radius: 50px;
}